<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7uMepDAktt3q9dHpFppG0j2TYUrNkWxc</string>
	<key>GCM_SENDER_ID</key>
	<string>877776417555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncsNew</string>
	<key>PROJECT_ID</key>
	<string>ncs-shine</string>
	<key>STORAGE_BUCKET</key>
	<string>ncs-shine.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877776417555:ios:5c26da917a6f79ab2d20e6</string>
</dict>
</plist>